<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="newTamplate/layout/layout :: head">
<meta charset="UTF-8">
</head>
<body>
	<header th:replace="newTamplate/layout/layout :: header"></header>
	<footer th:replace="newTamplate/layout/layout :: footer"></footer>
	<div class="container-fluid">
		<div class="card"><div class="card-header">
			<span class="label label-info" th:text="${'RELAÇÃO NOMINAL DOS SÓCIOS'}"></span>
		</div>
		
		<div class="card-body">
            <table class="table table-sm table-hover" id="tablet" style="align-content: center;">
					<thead style="background-color: olive;">
						<tr>
							<th style="font-size: 3px;">CLIENTE</th>
							<th style="font-size: 3px;">BI DO BENEFICIÁRIO</th>
							<th style="font-size: 3px;">CÓDIGO DO CRÉDITO</th>
							<th style="font-size: 3px;">VALOR DO BONOS</th>
							<th style="font-size: 3px;">ESTADO ACTUAL DO BONOS</th>
							<th style="font-size: 3px;">DATA DE REGISTO</th>
							<th style="font-size: 3px;">DATA DE PAGAMENTO</th>
							</tr>
					</thead>
					<tbody >
						<tr th:each="p: ${bonos}"   >
						<td  style="background-color: olive;" th:text="${p.nomedocliente}"></td>
							<td  style="background-color: olive;font-size: 3px;" th:text="${p.bibeneficiari}"></td>
							<td  style="background-color: olive;font-size: 3px;" th:text="${p.codigodocredito}"></td>
							<td style="font-size: 3px;" th:text="${p.valorbonos}"></td>
							<td style="font-size: 3px;" th:text="${p.estadobonus}"></td>
							<td style="font-size: 3px;" th:text="${p.dataregisto}"></td>	
							<td style="font-size: 3px;" th:text="${p.datapagamento}"></td>		
							
						</tr>	
					</tbody>
			</table>
      </div>
		</div>
</div>

</body>
</html>